.work {
	display: flex;
	align-items: center;
	font-family: "Anek Devanagari", sans-serif;
	border-bottom: 1px solid #212529;
	padding: 2rem 1rem 2rem 1rem;
	transition: all 0.5s;
	background-size: 220%;
	animation: moveup 1s;
	justify-content: space-between;
	margin-bottom: 1rem;
	-webkit-tap-highlight-color: transparent;

	&Year {
		font-size: 1.3rem;
		width: 65%;
		@media only screen and (min-width: 37.5em) {
			font-size: 1.7rem;
		}
		@media only screen and (min-width: 56.25em) {
			font-size: 1.4rem;
			margin-bottom: 0.5rem;
		}
	}

	&TextContainer {
		width: 35%;
	}
	&TextPrimary {
		display: block;
		letter-spacing: 1.5px;
		font-size: 1.3rem;
		@media only screen and (min-width: 37.5em) {
			font-size: 1.7rem;
		}
		@media only screen and (min-width: 56.25em) {
			font-size: 1.4rem;
		}
	}
	&TextSecondary {
		display: block;
		letter-spacing: 1.5px;
		font-size: 0.9rem;
		opacity: 0.5;
		@media only screen and (min-width: 37.5em) {
			font-size: 1.1rem;
		}
		@media only screen and (min-width: 56.25em) {
			font-size: .9rem;
		}
	}

	&:hover {
		background-image: linear-gradient(
			120deg,
			transparent 0%,
			transparent 50%,
			#fff 50%
		);
		background-position: 100%;
		color: #050203;
		transform: translateX(-1rem);
		cursor: pointer;

		@media only screen and (max-width: 56.25em) {
			background-image: none;
			color: #fff;
			transform: translateX(0);
		}
	}
	&:active {
		transform: translateY(0.5rem) translateX(-1rem);
		@media only screen and (max-width: 56.25em) {
			transform: translateX(0) translateY(0);
		}
	}

	@media only screen and (max-width: 26.75em) {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		&:hover {
			background-image: linear-gradient(transparent, transparent);
			color: #fff;
			transform: translateX(0);
		}
		&:active {
			transform: translateY(0) translateX(0);
		}

		&Year {
			font-size: 1.1rem;
		}

		&TextPrimary {
			font-size: 1.1rem;
		}
		&TextSecondary {
			font-size: 0.8rem;
		}
	}

	@media only screen and (max-width: 25.875em) {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		&:hover {
			background-image: linear-gradient(transparent, transparent);
			color: #fff;
			transform: translateX(0);
		}
		&:active {
			transform: translateY(0) translateX(0);
		}

		&Year {
			font-size: 1rem;
		}

		&TextPrimary {
			font-size: 1rem;
		}
		&TextSecondary {
			font-size: 0.7rem;
		}
	}

	@media only screen and (max-width: 24.375em) {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		&:hover {
			background-image: linear-gradient(transparent, transparent);
			color: #fff;
			transform: translateX(0);
		}
		&:active {
			transform: translateY(0) translateX(0);
		}

		&Year {
			font-size: 1rem;
		}

		&TextPrimary {
			font-size: 1rem;
		}
		&TextSecondary {
			font-size: 0.7rem;
		}
	}

	@media only screen and (max-width: 23.438em) {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		&:hover {
			background-image: linear-gradient(transparent, transparent);
			color: #fff;
			transform: translateX(0);
		}
		&:active {
			transform: translateY(0) translateX(0);
		}
		&Year {
			font-size: 1rem;
		}

		&TextPrimary {
			font-size: 1rem;
		}
		&TextSecondary {
			font-size: 0.7rem;
		}
	}

	@media only screen and (max-width: 20em) {
		padding-bottom: 0.3rem;
		padding-top: 0.3rem;
		&:hover {
			background-image: linear-gradient(transparent, transparent);
			color: #fff;
			transform: translateX(0);
		}
		&:active {
			transform: translateY(0) translateX(0);
		}

		&Year {
			font-size: 1rem;
		}

		&TextPrimary {
			font-size: 0.8rem;
		}
		&TextSecondary {
			font-size: 0.5rem;
		}
	}
}

@keyframes moveup {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}

	100% {
		opacity: 1;
	}
}
