.button {
	margin-right: 2rem;
	padding: 1rem;
	border-radius: 10rem;
	position: absolute;
	top: 2%;
	left: 5.8%;
	color: #1d1e20;
	z-index: 10;
	background-color: #fff;
	padding: .5rem 1rem;
    animation: movedown 1s;
    animation-fill-mode: backwards;
    transition: all .3s;
    cursor: pointer;
    

    &:hover{
        transform: scale(1.05);
    }
}

@keyframes movedown {
	0% {
		opacity: 0;

		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
	}
}
