.home {
	position: relative;
}

.header {
	height: 100vh;
	position: relative;
	overflow: hidden;

	&Image {
		animation: scale 1.5s;
		animation-fill-mode: backwards;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
	}

	// &Transparent {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100vh;
	// 	width: 100%;
	// 	background-color: rgba(4, 11, 16, 0.3);
	// }

	&TextBox {
		text-align: right;
		width: 40%;
		position: absolute;
		top: 8%;
		right: 5%;
		color: #fff;
		z-index: 1;
		font-family: "New Amsterdam", sans-serif;
	}

	&Location {
		font-weight: lighter;
		letter-spacing: 4px;
		margin-bottom: 8rem;
		animation: movedown 1s 0.75s;
		backface-visibility: hidden;
		animation-fill-mode: backwards;
		font-size: 1rem;
	}
	&Name {
		letter-spacing: 8px;
		animation: moveup 1s 0.75s;
		backface-visibility: hidden;
		animation-fill-mode: backwards;
		margin-bottom: 1rem;
	}
	&Paragraph {
		font-family: "Anek Devanagari", sans-serif;
		margin-bottom: 2rem;
		display: inline-block;
		animation: moveup 1s 0.85s;
		backface-visibility: hidden;
		animation-fill-mode: backwards;

		&1 {
			display: inline-block;
		}
		&2 {
			display: inline-block;
			animation: moveup 1s 0.9s;
			backface-visibility: hidden;
			animation-fill-mode: backwards;
		}
		&3 {
			display: inline-block;
			animation: moveup 1s 0.95s;
			backface-visibility: hidden;
			animation-fill-mode: backwards;
		}
		&4 {
			display: inline-block;
			animation: moveup 1s 1s;
			backface-visibility: hidden;
			animation-fill-mode: backwards;
		}
		&5 {
			display: inline-block;
			animation: moveup 1s 1.1s;
			backface-visibility: hidden;
			animation-fill-mode: backwards;
		}
	}
	&Button {
		background-color: transparent;
		border-radius: 10rem;
		border: 1px solid #212529;
		color: #fff;
		padding: 0.5rem 1.5rem;
		font-family: "New Amsterdam", sans-serif;
		font-size: 1.2rem;
		letter-spacing: 1.5px;
		transition: all 0.4s;
		background-size: 220%;
		animation: movedown 1s 1.2s;
		animation-fill-mode: backwards;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 7.5rem;
		-webkit-tap-highlight-color: transparent;

		&Text {
			margin-right: 1rem;
		}

		&:hover {
			background-image: linear-gradient(
				90deg,
				transparent 0%,
				transparent 50%,
				#212529 50%
			);
			background-position: 100%;
		}
		&:active {
			transform: translateY(0.5rem);
		}
	}

	&IconContainer {
		display: flex;
		justify-content: flex-end;
		align-items: end;
		animation: moveup 1s 0.9s;
		animation-fill-mode: backwards;
	}

	&Icon {
		font-size: 1.5rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	// 1280
	@media only screen and (max-width: 80em) {
		&TextBox {
			width: 45%;
			top: 5%;
		}

		&Location {
			margin-bottom: 15rem;
		}

		&Paragraph {
			font-size: 1.1rem;
			margin-bottom: 3rem;
		}

		&Button {
			margin-bottom: 9rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}

	// 820
	@media only screen and (max-width: 51.25em) {
		&TextBox {
			width: 80%;
			top: 5%;
		}

		&Location {
			margin-bottom: 22rem;
		}

		&Paragraph {
			font-size: 1.1rem;
			margin-bottom: 3rem;
		}

		&Button {
			margin-bottom: 23rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}
	// 768
	@media only screen and (max-width: 48em) {
		&TextBox {
			width: 80%;
			top: 3%;
		}
		&Location {
			margin-bottom: 18rem;
		}

		&Paragraph {
			width: 80%;
			font-size: 1.1rem;
		}

		&Button {
			margin-bottom: 15rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}

	// 428px

	@media only screen and (max-width: 26.75em) {
		&TextBox {
			width: 100%;
			top: 4%;
		}

		&Location {
			margin-bottom: 9rem;
		}

		&Paragraph {
			font-size: 1.1rem;
			width: 80%;
		}

		&Button {
			margin-bottom: 11rem;
			padding: 0.5rem 0.8rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}

	@media only screen and (max-width: 25.875em) {
		&TextBox {
			width: 100%;
			top: 4%;
		}

		&Location {
			font-size: 1.2rem;
		}

		&Name {
			font-size: 1.4rem;
		}

		&Paragraph {
			font-size: 1.1rem;
			width: 80%;
		}

		&Button {
			margin-bottom: 11rem;
			padding: 0.5rem 0.8rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}
	// 390px

	@media only screen and (max-width: 24.375em) {
		&TextBox {
			width: 100%;
		}

		&Name {
			font-size: 1.3rem;
		}

		&Paragraph {
			font-size: 1.1rem;
			// width: 80%;
		}

		&Button {
			margin-bottom: 6rem;
			padding: 0.5rem 0.8rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}
	// xr
	@media only screen and (max-width: 23.438em) {
		&TextBox {
			top: 5%;
			width: 100%;
		}
		&Name {
			font-size: 1.2rem;
		}
		&Paragraph {
			font-size: 1.1rem;
		}

		&Button {
			font-size: 1rem;
			margin-bottom: 6rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}

	@media only screen and (max-width: 22.5em) {
		&TextBox {
			width: 100%;
			top: 4%;
		}

		&Location {
			font-size: 1.2rem;
		}

		&Name {
			font-size: 1.2rem;
		}

		&Paragraph {
			font-size: 1rem;
			margin-bottom: 1.4rem;
		}

		&Button {
			margin-bottom: 7rem;
			padding: 0.5rem 0.8rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}
	}

	@media only screen and (max-width: 20em) {
		&TextBox {
			width: 100%;
		}

		&Location {
			margin-bottom: 4rem;
		}
		&Name {
			font-size: 0.9rem;
		}
		&Paragraph {
			font-size: 0.85rem;
			width: 80%;
		}
		&Button {
			font-size: 0.9rem;
			padding: 0.5rem 0.8rem;
			margin-bottom: 4.5rem;
			&:hover {
				background-image: linear-gradient(transparent, transparent);
			}
		}

		&Icon {
			font-size: 1.1rem;
		}
	}
}

@keyframes movedown {
	0% {
		opacity: 0;

		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
	}
}

@keyframes moveup {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}

	100% {
		opacity: 1;
	}
}

@keyframes scale {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
