.loader {
	background-color: #050203;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 10;

	&Text {
		// animation: loader 1s;
		font-family: "New Amsterdam", sans-serif;
		color: #fff;
		font-size: 7rem;
		letter-spacing: 1rem;
		font-weight: lighter;
		transition: all 0.2s;

		&1 {
			animation: loader 1s linear infinite;
			display: inline-block;
			animation-fill-mode: backwards;
			transition: all 0.3s;
		}

		&2 {
			animation: loader 1s linear 0.3s infinite;
			display: inline-block;
			animation-fill-mode: backwards;
			transition: all 0.3s;
		}

		&3 {
			animation: loader 1s linear 0.5s infinite;
			display: inline-block;
			animation-fill-mode: backwards;
			transition: all 0.3s;
		}
	}
}

@keyframes loader {
	0% {
		transform: translateY(1rem);
	}

	50% {
		transform: translateY(-0.2rem);
	}

	100% {
		transform: translateY(1rem);
		opacity: 0.5;
	}
}
