* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-image: url(/images/gallerybackground/image1.jpg); */
	background-size: cover;
	background-position: center;
}

.html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
/* @media only screen and (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}
@media only screen and (max-width: 56.25em) {
	html {
		font-size: 50%;
	}
}
@media only screen and (max-width: 26.8em) {
	html {
		font-size: 62.5%;
	}
}
@media only screen and (max-width: 23.4em) {
	html {
		font-size: 37.5%;
	}
}
@media only screen and (max-width: 20em) {
	html {
		font-size: 31.25%;
	}
}
@media only screen and (min-width: 112.5em) {
	html {
		font-size: 75%;
	}
} */

.contactIcon {
	transition: all 0.3s;
}

.contactIcon:hover {
	transform: translateY(-3px) scale(1.1);
	color: #212529;
	cursor: pointer;
}

.contactIconWhite {
	transition: all 0.3s;
}
.contactIconWhite:hover {
	transform: translateY(-3px) scale(1.1);
	color: #fff;
	cursor: pointer;
}

.navButton {
	border-radius: 10rem;
	color: #fff;
	z-index: 10;
	background-color: #1d1e20;
	animation: movedown 1s;
	animation-fill-mode: backwards;
	transition: all 0.3s;
	cursor: pointer;
	width: 1rem;
	height: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.desktopNavBack {
	border-radius: 10rem;
	z-index: 10;
	padding: 0.5rem 1rem;
	animation: movedown 1s;
	animation-fill-mode: backwards;
	transition: all 0.3s;
	cursor: pointer;
	width: 20%;
}

.backIcon {
	background-color: #1d1e20;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 10rem;
}
.spinnerContainer{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-top-color: #212529;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
.spinner2 {
	width: 50px;
	height: 50px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-top-color: #fff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@media only screen and (max-width: 26.75em) {
	.navButton {
		padding: 0.4rem 0.8rem;
		font-size: 0.8rem;
	}

	.desktopNavBack {
		padding: 0.4rem 0.8rem;
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 25.875em) {
	.navButton {
		padding: 0.4rem 0.8rem;
		font-size: 0.8rem;
	}

	.desktopNavBack {
		padding: 0.4rem 0.8rem;
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 23.438em) {
	.navButton {
		padding: 0.2rem 0.5rem;
		font-size: 0.8rem;
	}

	.desktopNavBack {
		padding: 0.2rem 0.5rem;
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 20em) {
	.navButton {
		padding: 0.2rem 0.5rem;
		font-size: 0.8rem;
	}

	.desktopNavBack {
		padding: 0.2rem 0.5rem;
		font-size: 0.8rem;
	}
}

@keyframes movedown {
	0% {
		opacity: 0;

		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
